:root {
  /* colors */
  --violet: #d83bff;
  --red: #ff3d87;
  --pink: #ff8bcb;
  --yellow: #ffd65a;
  --orange: #ff813d;
  --blue: #5694ff;

  /* font */
  /* --title-font: "Neucha", cursive; */

  --h1: 5rem;
  --h2: 3.5rem;
  --h3: 2.9rem;
  --h4: 1.8rem;
  --h5: 1.5rem;
  --small-text: 0.7rem;
}

/* @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap'); */

*, html, body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
div:focus {
  outline: none;
}
h1 {
  font-size: var(--h1);
  font-family: var(--title-font);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
p {
  font-size: var(--small-text);
}

h2, h3, h4, h5, h6, p {
  font-family: var(--text-font);
  line-height: 1.4;
}
strong {
  font-weight: 700;
}

body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
button, input, svg {
  cursor: pointer;
}html,
body,
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.textbox {
  padding: 1rem;
  border: .3rem rgb(255, 118, 182) solid;
  border-radius: 1rem;
  resize: none;
}

.anim-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 75rem;
}
.paper {
  position: absolute;
  top: 0;
  background-color: gray;
  width: 10rem;
  height: 10rem;
  margin-top: 0;
  border-radius: 100%;
  animation: drop 2s forwards;
}
.trash-can {
  bottom: 0;
  position: absolute;
  background-color: black;
  width: 20rem;
  height: 20rem;
  animation: rise 1s forwards;
}

@keyframes drop {
  from {
    top: 0;
  }
  to {
    top: 40rem;
  }
}
@keyframes rise {
  from {
    bottom: 0;
  }
  to {
    bottom: 10rem;
  }
}
