@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* general styling */
:root {
  --h1: 5rem;
  --h2: 3.5rem;
  --h3: 2.9rem;
  --h4: 1.8rem;
  --h5: 1.5rem;
  --small-text: 0.7rem;
}

*, html, body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #ffd3db;
  box-sizing: border-box;
  font-family: 'Neucha', cursive;
  letter-spacing: .1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
*:focus {
  outline: none;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
p {
  font-size: var(--small-text);
  letter-spacing: .05rem;
}

/* specific styling */
h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #fff8f9;
  font-size: var(--h4);
  height: 5rem;
  padding: 1rem 2rem;
  border: .3rem #ff91a3 solid;
  border-radius: 1rem;
  cursor: pointer;
  transition: .3s all;
}
button:hover {
  transform: translateY(-.75rem);
}


.textbox {
  width: 60%;
  height: 30%;
  font-size: var(--h4);
  margin: 5rem;
  padding: 1rem;
  border: .4rem #c9c9c9 solid;
  background-color: #fff;
  border-radius: 1rem;
  resize: none;
}
.anim-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.paper {
  position: absolute;
  top: 0;
  height: 30%;
  margin-top: 0;
  border-radius: 100%;
  animation: drop 2s forwards ease;
}
.inter-paper {
  position: absolute;
  top: 42%;
  height: 30%;
  margin-top: 0;
  border-radius: 100%;
}
.trash-can {
  bottom: 0;
  position: absolute;
  background-color: transparent;
  height: 70%;
  animation: rise 1s forwards;
}
.inter-trash-can {
  bottom: 17%;
  position: absolute;
  background-color: transparent;
  height: 70%;
}
@keyframes drop {
  0% {
    top: 0;
  }
  70% {
    top: 42%;
  }
  90% {
    top: 40%;
  }
  100% {
    top: 42%;
  }
}
@keyframes rise {
  from {
    bottom: 0;
  }
  to {
    bottom: 17%;
  }
}
.inter-btn {
  height: fit-content;
}